.Editor {
    text-align: center;
  }
  
  body {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }


  .outputJson {
    text-align: left;
    font-size: 20px;
    background-color: #23272e;
  }
  
  .item {
    background-color: #224B33;
    color: #A3FEB9;
    padding: 2px;
    margin: 2px;
    box-shadow: 3px 4px 0px #183926;
  }
  
  .parentItem {
    margin: 10px;
    padding: 10px;
    background-color: #1C263E;
    color: #89AFFE;
    box-shadow: 3px 4px 0px #141C2D;
  }
  
  li {
    list-style: none inside;
    margin: 0px;
  }
  ul {
    margin: 0px;
    padding: 0px;
  }
  .mainTable{
    width: 100%;
    display: table;
  }
  .tableElements{
    display: table-cell;
  }